{% extends 'noticias/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    
    <h2>Posts nesta Categoria</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    {% with formatted_date=post.published_date|date %}
                        <p>Data de publicação: {{ formatted_date }}</p>
                    {% endwith %}
                    <p>Categorias: {% for category in post.categories.all %}<a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum post nesta categoria.</p>
    {% endif %}
{% endblock %}