{% extends 'noticias/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-data">{{ post.published_date|date }}</p>

    <div class="post-content">
        {% if post.image %}
            <div class="post-image">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </div>
        {% endif %}

        <div class="post-text">
            <p>{{ post.content|safe }}</p>
        </div>
    </div>
    <h2>Comentários:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.text }} - {{ comment.author }} - {{ comment.created_date|date }}</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Comentário:</h2>
    <form method="post" action="{% url 'add_comment' pk=post.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Adicionar Comentário</button>
    </form>
    <a href="{% url 'post_list' %}">Voltar para a lista de posts</a>
{% endblock %}