{% extends 'noticias/base.html' %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
    <h2>Lista de Posts</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    {% with formatted_date=post.published_date|date %}
                        <p>Data de publicação: {{ formatted_date }}</p>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum post disponível.</p>
    {% endif %}
{% endblock %}